# Python bytecode and virtual environments
__pycache__/
*.pyc
*.pyo
env/
venv/

# Docker-related files
*.log
*.pid
docker-compose.override.yml

# Redis dump file
dump.rdb

# Environment files
.env

# IDE and OS files
.vscode/
*.swp
.DS_Store
Thumbs.db
